* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: radial-gradient(circle at top, #0d1f33, #050b14);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  padding-top: 10px;

  overflow: hidden;
  touch-action: none;
}


h1 {
  margin-bottom: 10px;
}

canvas {
  background: black;
  border: 2px solid cyan;
}

.info {
  margin-top: 10px;
  font-size: 18px;
}

.overlay {
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  padding: 30px;
  border-radius: 10px;
  display: none;
}

.overlay button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* HIDDEN BY DEFAULT (DESKTOP) */
.mobile-controls {
  display: none;
}

/* MOBILE ONLY */
@media (max-width: 768px) {
  .mobile-controls {
    display: flex;
    position: fixed;
    bottom: 20px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 9999;
  }

  .mobile-controls button {
    font-size: 18px;
    padding: 16px 22px;
    border-radius: 12px;
    border: none;
    background: #222;
    color: white;
  }
}
