.search-bar {
        width: 300px;
        display: block;
        margin-bottom: 20px;
      }
   .header{
    height: 55px;

    display: flex;
    flex-direction: row;
   }
   .left-section{
    background-color: lightblue;
   }
   .middle-section{
    background-color: lightpink ;
   }
.right-section{
  background-color: lightblue;
}