 .sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color:white ;
  width: 72px
}
  .sidebar-link {
    height: 76px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
  text-transform: capitalize; 
  font-size: 12px;
  font-weight: 500;
}
 .sidebar-link:hover {
  background-color:rgb(235, 235, 235);
 }
 .sidebar-link img{
height: 24px;
margin-bottom: 5px;
display: block;
}
.sidebar-link div{
  font-family: Roboto,Arial ;
  font: size 10px; 
  flex-direction: column;
}
