.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 40px;
  padding: 20px;
  padding-top: 20px;
  margin-left: 20px;
  transition: all 0.3s ease;
}
.video-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.video-link:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

.video-preview {
}

.thumbnails{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr; 
    margin-top: 10px;
  
}

.channel-picture {


}


.profile-picture {
    width: 36px; 
    border-radius: 50%;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}
.video-info {

} 

.video-title-brendan {
    font-weight: 700;
    font-size: 14px;
    margin: 0 0 4px 0;
    line-height: 1.3;
}


.video-info p {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin: 0;
}
.video-time{
    font-family: Roboto, arial,sans-serif;
    font-size: 12px;
    font-weight:500; 
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px ;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
}
@media (max-width: 1000px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}
