.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 40px;
  padding: 20px;
  padding-top: 20px;
  margin-left: 20px;
  transition: all 0.3s ease;
  text-decoration: underline ;
}
 @media (max-width:750px){ /*this is how to adjust screen size  note this is also how to write coment in css*/
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
 }
 @media (min-width:751px) and (max-width:999px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
 }
 @media (min-width:1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }
  
.video-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.video-link:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease;
}

.video-preview {
} 

.thumbnails{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr; 
    margin-top: 10px;
  
}

.channel-picture {


}


.profile-picture {
    width: 36px; 
    border-radius: 50%;
}
.thumbnail-row{
    margin-bottom: 12px;
    position: relative;
}
.video-info {

} 

.video-title-brendan {
  color: black;
    font-weight: 500;
    font-size: 14px;
    margin: 0 0 4px 0;
    line-height: 20px;
    display: block;
    text-decoration: none;

}


.video-info p {
    font-size: 12px;
    color: rgb(96, 96, 96);
    margin: 0;
}
.video-time{ 
    font-size: 12px;
    font-weight:500; 
    padding: 4px ;
    border-radius: 2px ;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

