body {
  background: black;          
  font-family: Arial, sans-serif;
}

.container {
  display: flex;                
  justify-content: center;     
  margin-top: 50px;             
}

.box {
  background: green;            
  color: white;                
  padding: 10px 20px;          
  margin: 0 10px;               
  font-size: 18px;
  text-align: center;
  border-radius: 3px;           
cursor: pointer;            
  transition: background 0.3sec, transform 0.2s, box-shadow 0.2s; 
}


.box:hover {
  background: darkgreen;       
  transform: translateY(-3px);  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.pagination-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    margin-top: 50px;
}

.page-button {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

.page-button:hover {
    border-color: #c6c7c8;
}


.page-numbers {
    list-style: none; 
    padding: 0;
    margin: 0 15px; 
    display: flex;  
}

